{% extends 'base.html.twig' %}

{% block title %}Star Wars Characters
{% endblock %}

{% block body %}
	{% include "partial/_header.html.twig" %}


	<div class="d-flex justify-content-center align-items-center">
		<h1 class="text-white">Star Wars Characters</h1>
	</div>

	<div class="d-flex flex-wrap d-flex justify-content-center align-items-center">

		{% for Characters in resultatsCharacters %}
			<div class="card m-5" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title d-flex justify-content-center align-items-center">
						<strong>Name:
							{{Characters.name}}</strong>
					</h5>
					<p class="card-text">
						<strong>Height:
							{{Characters.height}}</strong>
					</p>
					<p class="card-text">
						<strong>Hair Color:
							{{Characters.hair_color}}</strong>
					</p>
					<p class="card-text">
						<strong>Eye Color:
							{{Characters.eye_color}}</strong>
					</p>
					<p class="card-text">
						<strong>Birth Year:
							{{Characters.birth_year}}</strong>
					</p>
					<p class="card-text">
						<strong>Gender:
							{{Characters.gender}}</strong>
					</p>
				</div>
			</div>
		{% endfor %}
	</div>

	{% include "partial/_footer.html.twig" %}
{% endblock %}
